body{
   height: 100vh;
    display:flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin:0px;
}
/*first section */
.first-section{
   background-color:  rgb(31, 41, 55);
padding-left: 160px;
padding-right: 160px;
padding-bottom: 100px;
padding-top:30px;
color:white;
margin-bottom: 20px;
}

ul{
    list-style: none;
    padding: 0px;
    margin:0px;
    display:flex;
    gap:20px;
   
}
.header{
    display:flex;
    justify-content: space-between;
}
.logo{
    font-size: 24px;
    font-weight: bold;

}
.links{
    font-size: 18px;
    cursor: pointer;
    Color: rgb(199, 199, 199);
}
.left-content{
    width:400px;
}
.hero-section{
    display:flex;
    margin-top:80px;
    justify-content: space-between;
}
.main-heading{
    font-size:48px;
    font-weight: 900;
    margin:0px;
}
.hero-image{
    width: 500px;
    height: 230px;
    object-fit: cover;
}

.text{
    margin-top:0px;
    Color: rgb(199, 199, 199);
    font-size: 18px;
}
.sign-up-1{
    background-color: rgb(57, 159, 255);
    border: none;
    padding:6px 23px;
    color:white;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

/*Second Section */

.second-section{
    padding-bottom: 80px;
}

.random-info{
    text-align: center;
    color:#1F2937;
    font-weight: 900;
    font-size: 36px;
   margin-bottom: 40px;
}
.card-section{
    display:flex;
justify-content: center;
gap:45px;
}

.card{
    flex-wrap: wrap;
    width: 150px;
    text-align: center;
}
.card-image{
    width:150px;
    height:150px;
    object-fit: cover;
}
.card-text{
    Color: rgb(83, 83, 83);
}

/*third section */
.third-section{
    background-color:  rgb(226, 226, 226);
    display:flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.quote-section{
    width: 700px;
   
   
}
.emma-quote{
    font-size: 36px;  
    margin-bottom: 0px; 
    Color: #1F2937;
    font-weight: 300;
    Font-style: italic;
}
.emma-name{
    text-align: right;
    margin-top: 0px;
    font-weight: bold;
    color:#1F2937;
}

/*Fourth Section */
.Fourth-section{
    display:flex;
    justify-content: center;
   padding-top:90px;
   padding-bottom: 90px;

}
.action-section{
    display:flex;
    background-color: #3882F6;
    align-items: center;
   gap:150px;
   Font-size: 15px;
   color:white;
   padding:29px 120px;
   border-radius: 7px;

}

.action-text-1{
    font-weight: bold;
    margin-bottom: 3px;
    font-size:23px;
}
.action-text-2{
    margin-top: 0px;
    font-size: 16px;
    color: rgb(230, 230, 230)
}

.Sign-up-2{
    align-self: center;
background-color: #3882F6 ;
padding:8px 35px;
border:2px solid white;
border-radius: 8px;
color:white;
font-weight: bold;
font-size: 15px;
cursor:pointer;
}

/*Fifth section */
.fifth-section{
    background-color: #1F2937;
    color:rgb(224, 224, 224);
    text-align: center;
    font-size: 14px;
    padding-top:17px;
    padding-bottom: 17px;
}